/****************************************************
RESET
*****************************************************/


  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

/****************************************************
JORDAN CSS
*****************************************************/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.background {
  background-image: url("assets/abstractbackground.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#left {
  width: 50%;
  float: left;
  height: 100%;
}

#right {
  background-color: rgba(197, 90, 17, .6);
  width: 50%;
  height: 100%;
  float: right;
}

header {
  /*display: table-row;*/
  display: flex;
  /*margin: 20px;*/
  height: 20%;
  align-items: center;
  padding: 20px;
}

.answer-area{
  height: 80%;
  display: flex;
  align-conten: center;
  /*display: table-row;*/
}

.answer-box {
  background: linear-gradient(#562063, #A744BA);
  width: 85%;
  height: 400px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

textarea {
  width: 500px;
  height: 150px;
}

h1 {
  /*display: table-row;*/
  font: 40px Arial Black, sans-serif;
  color: white; 
}

#voice-text-display {
  border: 3px solid #949599;
  width: 500px;
  height: 50px;
}

#comparison-box {
  border: 3px solid #949599;
  width: 500px;
  height: 100px;
}

#error-display {
  
}











